.herodynamic{
    background-color: pink;
    color:bisque;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.hero{
background-color: red;
color:white;
font-weight: 800;
}